@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@200;400;700&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
}

html{
    font-size: 62.5%;
}
